<button class="btn btn-danger" id="edit" (click)="deleteSurvey()">Delete</button>
<button class="btn btn-primary" id="delete" (click)="open(content)">Edit</button>
<div>
  <button class="btn btn-success" (click)="viewResponses(responses)">View Responses</button>
</div>


<ng-template #responses let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{survey.title}} Responses</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-response-list *ngIf="viewingResponses === true" [surveyResponses]="surveyResponses" [survey]="survey"></app-response-list>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Survey</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');reset()"></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="error === true">{{errorMsg}}</div>
    <label for="title">Survey Title:</label>
    <div class="input-group">
      <input id="title" class="form-control" type="text" name="title" [(ngModel)]="title">
    </div>
    <app-question *ngFor="let question of questionList" [questionInput]="question" (moveQuestion)="moveQuestion($event)" (deleteQuestion)="deleteQuestion($event)" (updateQuestions)="updateQuestions($event)"></app-question>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="addQuestion()">Add Another Question</button>
    <button class="btn btn-outline-dark" (click)="submit()">Submit</button>
  </div>
</ng-template>

