.form-check-label{
  margin-right: 2%;
}

.border-top{
  margin-top:5%;
}

button,label,input,.alert{
  margin-top: 2%;
}

.btn-secondary{
  margin-right: 1%;
}

.bi-trash-fill{
  font-size: 26px;
  color: red;
  cursor: pointer;
  margin-right: 5%;
}

.bi-pencil-fill{
  font-size: 26px;
  color: cornflowerblue;
  cursor: pointer;
}

.editDelete{
  margin-top: 2%;
}